:root {
  --primary: #ebc908;
  --primary-text: #ffffff;
  --secondary: #22C8E5;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

.gVgCKA {
  background: linear-gradient(
    90deg
    , rgb(34, 200, 229) 0%, rgba(34, 200, 229, 0.5) 100%) !important;
        font-family: "Nunito Sans" !important;
        display: inline-block !important;
        height: auto !important;
        width: auto !important;
        color: rgb(255, 255, 255);
        text-decoration: none;
        white-space: normal;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        text-align: left;
        line-height: 60px;
        letter-spacing: 0px;
        font-weight: 600;
        font-size: 17px;
        box-shadow: rgb(34 200 229 / 35%) 0px 0px 70px 0px !important;
        padding-left: 50px;
        padding-right: 50px;
        backdrop-filter: none;
        filter: brightness(100%);
        transform-origin: 50% 50%;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        border-width: 0px;
        border-radius: 0px;
}